
.top {
  height: 5.5rem;
}

h1 {
  font-size: 1.8rem;
}

header {
  border-top: 5px solid #79CFF0;
}

#toolbar {
  line-height: 6.56rem;
  height: 6.56rem;
  background: #F5F9FA;
  padding: 0 1.6rem;
}

#toolbar > h1 {
  font-size: 2.8rem;
}

#mdn_logo {
  display: inline-block;
  width: 13.7rem;
  height: 3rem;
  background: url(https://developer.mozilla.org/static/img/web-docs-sprite.22a6a085cf14.svg) no-repeat;
  border-color: transparent;
  border-style: solid;
  border-top-width: 1rem;
  border-bottom-width: 1rem;
  border-left-width: 1rem;
  border-right-width: 0;
}

#nav_menu > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

#nav_menu > li > div {
  height: 5.5rem;
  line-height: 5.5rem;
  padding: 0 .5rem;
  cursor: pointer;
}

header nav {
  vertical-align: top;
}

.nav_submenu > li {
  cursor: pointer;
  padding: 0 0 .7rem 0;
}

.nav_submenu a {
  font-size: 1rem;
  color: #327E98;
  display: block;
  width: max-content;
}

.nav_submenu li:hover a {
  text-decoration-line: underline;
}

.menu_name {
  font-size: 1rem;
}

.menu_name:hover {
  background: #EEEEEE;
}

.menu_name:hover + .nav_submenu,
#language:hover .nav_submenu,
#setting_wrapper:hover .nav_submenu {
  display: block;
}

.nav_submenu:hover {
  display: block;
}

.nav_submenu {
  display: none;
  position:absolute;
  right: 0;
  background: white;
  padding: 1rem 2rem 1rem 1rem;
  box-shadow: 
  -1px 0 .1px rgba(100,100, 100, 0.1), 
  0 4px 10px rgba(184, 180, 180, 0.6),
  0 -5px #EEEEEE;
}

.nav_submenu > li{
  padding: .7rem 0;
}

#login {
  height: 5.5rem;
  display: inline;
  font-size: 1rem;
  margin-right: 0.3rem;
}

#search {
  width: 6rem;
  height: 5.5rem;
  line-height: 5.5rem;
  background: #222222;
  text-align: center;
  padding-top: 10px;
}

#search > svg {
  padding-top: 0.5rem;
  fill: white;
}

#tools {
  font-size:1.1rem;
  font-weight: 600;
}
#tools ul {
  line-height: 1rem;
}

#edit, #setting {
  padding: .2rem .6rem;
  margin-left: .8rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}

#edit {
  outline: 2px solid #35738F;
}

#setting {
  outline: 2px solid #909090;
}

#language, #setting {
  position: relative;
  cursor: pointer;
}

#tools ul {
  margin-top: -2rem;
  font-weight: 300;
}

#setting_wrapper {
  position: relative;
}
#setting_wrapper li:first-child a {
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
}

main {
  padding: 1.5rem;
}

aside {
  /* background: aquamarine; */
  width: 23%;
  padding: 1rem 0;
}


#content {
  /* background: cornflowerblue; */
  width: 77%;
  padding: .5rem .3rem 1rem 2rem;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 200;
}

#summay {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

article {
  max-width: 42rem;
}

article > hr {
  background: #78C9F0;
  border: 1px solid #78C9F0;
}

article p + p {
  margin-top: 1.4rem;
}

#related_topics > p {
  padding: 0.9rem 0;
}

#aside_topic {
  font-size: .9rem;
}

#aside_topic > *,
.topics {
  padding: 0.6rem 0;
}

#aside_topic > hr {
  padding: 0.3rem 0;
}

#aside_topic > hr {
  margin: 0;
  margin-top: .6rem;
}

.aside_menu:checked ~ .related_topics_submenu {
  display:block
}

.related_topics_submenu {
  display: none;
}

.related_topics_submenu {
  padding: .5rem 0 .5rem 1.4rem;
}

.related_topics_submenu > li {
  padding: .5rem 0;
}

.topics {
  color: #327E98;
}

.subject {
  padding: .6rem 0; 
  font-size: .8rem;
}

.topic {
  font-size: .8rem;
  padding-bottom: 1rem;
}

.subject input[type=checkbox]:before {
  content: "►";
  color: #327E98;
  font-size: .25rem;
  border: 2px solid white;
  display: inline-block;
  background: white;
  margin-top: -2px;
  vertical-align: top;
}
.subject input[type=checkbox]:checked:before {
  content: "▼";
}

#parallel {
  padding: 2rem 0;
}

#parallel_left,
#parallel_right {
  width: calc(50% - 10px);
}

#parallel_left + #parallel_right {
  margin-left: 20px;
}

.content_subject {
  color: #327E98;
  font-size: 1.0rem;
  font-weight: 500;
  padding-top: 1.4rem;
}

.content_subject:hover  {
  text-decoration-line: underline;
  cursor: pointer;
}

.content_summay {
  padding-left: 1.3rem;
}

.content_topic {
  padding: 1.6rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}


#community_join_box {
  padding: 1.6rem .8rem;
  background: #E4F0F5;
  width: 75%;
  height: 14rem;
  font-weight: 600;
  font-size: 15px;
  font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
}

.community_title {
  font-size: 2.2rem;
  padding-bottom: 1.5rem;
  font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
}
#community_left {
  width: 50%;
}
#community_right {
  font-weight: 100;
  padding-left: .5rem;
  line-height: 2rem;
}

.community_round_btn {
  display: inline-block;
  background: #327E98;
  color: white;
  font-weight: lighter;
  padding: .2rem .4rem;
  border-radius: 3px;
  font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
}
.community_round_btn + .community_round_btn {
  margin-left: .2rem;
}

#community_mention {
  padding-bottom: .8rem;
}

#content > hr {
  background: #327E98;
  border: 1px solid #327E98;
  margin: 2.4rem 0;
}

.tag {
  display: inline-block;
  background: #EEEEEE;
  border: 1px solid rgba(200, 230, 235, 1);
  font-weight: lighter;
  padding: 0 .3rem;
  border-radius: 3px;
  font-size: .8rem;
  color: #285c76;
  margin-right: .3rem;
}

#tag_contributor > p {
  padding: 0.4rem 0;
  font-size: .9rem;
  font-weight: lighter;
  color: RGBA(105, 105, 105, 1.00);
>>>>>>> 29f988822c149b5540984f463931c9db5eb2846b
}