<div class="security">
  <div class="security__container">
      <h3 class="security__subject">Code security</h3>
      <p class="security__contents">Prevent problems before they happen. Protected branches, signed commits, and required status checks protect your work and help you maintain a high standard for your code.</p>
      <h3 class="security__subject">Access controlled</h3>
      <p class="security__contents">Encourage teams to work together while limiting access to those who need it with granular permissions and authentication through SAML/SSO and LDAP.</p>
  </div>
  <div class="security__image"></div>
</div>