@import 'utils';

.security {
  display: inline-block;
}
.security__container {
  display: inline-block;
  width: 50%;
  padding: 2rem 4rem;
}

.security__subject {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: .7rem 0;
}

.security__contents {
  font-size: .9rem;
  font-weight: 100;
  color: $oc-gray-7;
}
.security__contents + .security__subject {
  padding-top: 2.4rem;
}

.security__image {
  display: inline-block;
  float: right;
  width: 49%;
  height: px(280);
  margin-top: 1rem;
  vertical-align: bottom;
  background-size: 88%;
  background-repeat: no-repeat;
  background-image: url(../../static/images/home-illo-business.png);
}

@media only screen and (max-width: 768px) {
  .security__image {
    position: relative;
    float: none;
    width: 100%;
    height:23rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .security__container {
    width: 100%;
  }
}