<ul class="header__downmenu">
  <li class="header__menuitem--mazor">Features</li>
  <li class="header__menuitem--minor">Code review</li>
  <li class="header__menuitem--minor">Project management</li>
  <li class="header__menuitem--minor">integrations</li>
  <li class="header__menuitem--minor">Team management</li>
  <li class="header__menuitem--minor">Social coding</li>
  <li class="header__menuitem--minor">Documentation</li>
  <li class="header__menuitem--minor">Code hosting</li>
  <li class="header__menuitem--line"></li>
  <li class="header__menuitem--mazor">Case Studies</li>
  <li class="header__menuitem--mazor">Security</li>
</ul>