@import 'utils';

.arrow__card {
  display: inline-block;
  position: relative;
  padding: 1.6rem;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    box-shadow: -1px 0px 3px 1px $oc-gray-5;
  }

  &:hover .arrow__card__arrow {
    color: RGBA(17, 108, 212, 1.00);
  }

  .arrow__card__container {
    float: left;
    width: 85%;
  }

  .arrow__card__subject {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  .arrow__card__contents {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .arrow__card__arrow {
    position: absolute;
    float: left;
    width: 15%;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
  }

  .arrow__card__link {
    color: RGBA(17, 108, 212, 1.00);
    border-bottom: 1px solid RGBA(17, 108, 242, .5);
    &:hover {
      border-bottom: 1px solid RGBA(17, 108, 242, 1);
    }
  }
}