<label class="signupform__password">
  <p class="signupform__password__label">${label}</p>
  <input type="password" class="signupform__password__input" placeholder="${placeHolder}">
  <p class="signupform__password__helper">
    Make sure it's 
    <span class="signupform__password__15">more than 15 characters </span>
    OR
    <span class="signupform__password__8">at least 8 characters</span>
    <span class="signupform__password__number">including a number</span>
    <span class="signupform__password__lowercase">and a lowercase letter</span>
    Read our documentation on
    <span class="signupform__password__safer">safer password practices.</span>
  </p>
</label>