@import 'utils';

@mixin common() {
  width: px(410);
  font-size: 1.3rem;
  padding: 1rem 2.4rem 1rem .7rem;
  border-radius: 5px;
  border: 1px solid $oc-gray-4;
  &:focus {
    border: 1px solid $oc-blue-4;
  }
}
.signupform__password__label {
  font-size: 1.2rem;
  color: $oc-gray-7;
  padding-top: .5rem;
}

.signupform__password {
  display: inline-block;
  font-size: 1.3rem;
  width: px(410);
}

.signupform__password__input {
  @include common();
  margin: .5rem 0;
  background-image:url(https://github.githubassets.com/images/modules/ajax/success.png);
  background-repeat: no-repeat;
  background-position: calc(100% - .6rem);
  background-size: 20px;
}