@import 'utils';

@mixin common() {
  width: 100%;
  font-size: 1rem;
  padding: .7rem 2.4rem .7rem .7rem;
  border-radius: 5px;
  border: 1px solid $oc-gray-4;
  &:focus {
    border: 1px solid $oc-blue-4;
  }
}
.signupform__password__label {
  font-size: .9rem;
  color: $oc-gray-7;
  padding-top: .5rem;
}

.signupform__password {
  display: inline-block;
  font-size: 1.3rem;
  width: 100%;
  padding-bottom: 1rem;
}

.signupform__password__input {
  @include common();
  margin: .5rem 0;
  background-image:url(https://github.githubassets.com/images/modules/ajax/success.png);
  background-repeat: no-repeat;
  background-position: calc(100% - .6rem);
  background-size: 1rem;
  &::placeholder {
    color: $oc-gray-6;
  }
}

.signupform__password__helper {
  font-size: .75rem;
  padding-right: .3rem;
  line-height: 1.2rem;
}

.signupform__password__safer {
  color: $oc-blue-8;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $oc-blue-8;
  }
}