@import 'utils';

.footer {
  display: block;
}

.footer__container {
  width: 100%;
  margin: 0 auto;
  padding: 4.4rem 0 5rem 0;
  font-size: 0;
}

.footer__logo__container {
  display: inline-block;
  width: 35%;
  padding-bottom: 1.2rem;
  vertical-align: top;
  .footer__logo {
    display: inline-block;
    background: url('../../static/images/text_logo.svg') no-repeat;
    background-size: contain;
    width: 6rem;
    height: 2rem;
  }
}

.footer__list__container {
  display: inline-block;
  font-size: 0;
  width: 65%;
  .footer__list__wrapper {
    width: 25%;
    display: inline-block;
  }
}

@media only screen and (max-width: 1011px) {
  .footer__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer__logo__container,
  .footer__list__container {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .footer__list__container {
    .footer__list__wrapper {
      width: 50%;
      padding-bottom: 2.4rem;
    }
  }
}