.cl {
  padding: 1rem;
  margin-bottom: 1rem;
  & > label {
    margin-bottom: 1rem;
    background: #dddddd;
    font-size: 2rem;
    display: block;
  }

  & > div {
    display: inline-block;
    vertical-align: top;
  }
}
