@import 'utils';

@mixin dotted() {
  $dottedSize: 4.4rem;
  $dottedPosition: 0px;
  $before-percentage: 6%;
  $after-percentage: 6%;
  background:
        -moz-radial-gradient($oc-gray-3 $before-percentage, transparent $after-percentage),
        -moz-radial-gradient($oc-gray-3 $before-percentage, transparent $after-percentage),
        transparent;
  background:
      -webkit-radial-gradient($oc-gray-3 $before-percentage, transparent $after-percentage),
      -webkit-radial-gradient($oc-gray-3 $before-percentage, transparent $after-percentage),
      transparent;
  background-position: $dottedPosition $dottedPosition, $dottedPosition $dottedPosition;
  
  -webkit-background-size:$dottedSize $dottedSize;
  -moz-background-size:$dottedSize $dottedSize;
  background-size:$dottedSize $dottedSize;
}

.enterprise__propose__wrapper {
  @include dotted();
}

.business__orgs__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 5rem;
}
.articlep__wrapper {
  max-width: 54rem;
  margin: 0 auto;
  padding: 3rem 5rem;
}

.advantages__wrapper {
  width: 100%;
  max-width: 88rem;
  margin: 0 auto;
  padding: 0rem 5rem 8rem 5rem;
}

.security__wrapper {
  position: relative;
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
}
.effectbox__wrapper {
  max-width: 36rem;
  margin: 3rem auto 8rem auto;
}

.badges__wrapper {
  max-width: 54rem;
  margin: 0 auto 3rem auto;
}

.marketplace__wrapper {
  width: 19rem;
  margin: 6rem auto 10rem auto;
}

.worldwide__wrapper {
  max-width: 51rem;
  margin: 3rem auto 5rem auto;
}

.bottom__signup__wrapper {
  background: #23282D;
}
.slide__wrapper {
  width: 100%;
}

.footer__wrapper {
  max-width: 64rem;
  margin: 0 auto;
}

.siteinfo__wrapper {
  display: block;
}

@media only screen and (max-width: 1011px) {
  .advantages__wrapper {
    padding: 0 3rem;
  }
  .enterprise__propose__wrapper {
    background: none;
  }
}

@media only screen and (max-width: 768px) {
  .business__orgs__wrapper {
    padding: 3rem;
  }
  .articlep__wrapper {
    padding: 2.4rem 5rem;
  }
  .advantages {
    .advantages__mainimage {
      height: 23rem;
    }
  } 
  .marketplace__wrapper {
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 670px) {
  .effectbox__wrapper {
    margin: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .business__orgs__wrapper {
    padding: 1rem;
  }
  .articlep__wrapper {
    padding: 2.4rem 1rem;
  }
  .bottom__signup {
    .signupform__input__wrapper,
    .signupform__password__wrapper,
    .button__wrapper {
      width: 90%;
      max-width: 90%;
    }
  }
  .footer__container {
    padding-bottom: 3rem;
  }
  
}