@import 'utils';

.siteinfo {
  display: block;
  height: 4.4rem;
  background: #FAFBFC;
  line-height: 4.4rem;
  
  
  .siteinfo__container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2.5rem;
  }
  
  .siteinfo__policy {
    float: left;
    color: $oc-gray-7;
    font-size: .8rem;

    .siteinfo__terms,
    .siteinfo__privacy {
      padding-left: 1.2rem;
      &:hover {
        color: $oc-blue-7;
        text-decoration: underline;
        text-decoration-color: $oc-blue-7;
      }
    }
  }

  .siteinfo__links {
    float: right;
    .siteinfo__link__container {
      display: inline-block;
    }
    .siteinfo__link {
      color: $oc-gray-6;
      font-size: 1.3rem;
    }
    .siteinfo__link__container + .siteinfo__link__container {
      padding-left: .8rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .siteinfo {
    .siteinfo__links {
      float: left;
    }
  }
}