@import 'utils';

.bottom__signup {
  font-size: 0;
  text-align: center;
  padding: 4.4rem 1rem 7.5rem 1rem;
  .bottom__signup__head {
    width: px(980);
    color: white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 1rem 4rem 1rem;
    margin: 0 auto;
  }

  .signupform__input__wrapper,
  .signupform__password__wrapper,
  .button__wrapper,
  {
    display: inline-block;
    width: calc(25% - .5rem);
    max-width: 17.5rem;
  }
  .signupform__input__wrapper + .signupform__input__wrapper, 
  .signupform__input__wrapper + .signupform__password__wrapper,
  .signupform__password__wrapper + .button__wrapper 
  {
    padding-left: 2rem;
  }
  .bottom__signup__footer {
    color: $oc-gray-6;
    font-size: .8rem;
    padding-top: 1.4 rem;
    .bottom__signup__whitelink {
      color: white;
      text-decoration-color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .button__contents {
    padding: .9rem;
  }
}

@media only screen and (max-width: 1011px) {
  .bottom__signup {
    .bottom__signup__head {
      width: 100%;
    }
  }
}