<div class="bottom__signup">
  <h2 class="bottom__signup__head">
    Get started for free — join the millions of developers already using GitHub to share their code, work together, and
    build amaing things.
  </h2>
  <div class="SignUpFormInput"></div>
  <div class="SignUpFormInput"></div>
  <div class="SignUpFormPassword"></div>
  <div class="Button"></div>
  <p class="bottom__signup__footer">
    By clicking “Sign up for GitHub”, you agree to our
    <a class="bottom__signup__whitelink" href="/terms">terms of service</a> and
    <a class="bottom__signup__whitelink" href="/privacy">privacy statement</a>. We’ll occasionally send
    you account related emails.
  </p>
</div>