<div class="header">
  <div class="header__container">
    <div class="HeaderLogo"></div>
    <div class="header__menu">
      <div class="HeaderDownButton"></div>
      <a class="header__link__button" href="/business">Business</a>
      <div class="HeaderDownButton"></div>
      <a class="header__link__button" href="/marketplace">Marketplace</a>
      <div class="HeaderDownButton"></div>
      <div class="HeaderSearch"></div>
      <div class="header__signup__container">
        <div class="HeaderSignButton"></div>
        <div class="HeaderSignButton"></div>
      </div>
    </div>
    <div class="header__mobile">
      <div class="HeaderSignButton"></div>
      <div class="header__hambug">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
</div>