@import 'utils';

.header {
  background: RGBA(32, 36, 40, 1.00); 
  padding: 1rem 0;

  .header__container {
    position: relative;
    max-width: 63rem;
    margin: 0 auto;
  }
  .header__menu {
    display: inline-block;
  }
  .header__menu__closer {
    display: none;
  }

  .header__logo__wrapper {
    display: inline-block;
    position: relative;
    top: .4rem;
  }
  .header__downbutton__wrapper {
    display: inline-block;
    padding-left: .4rem;
  }

  .header__search__wrapper {
    display: inline-block;
    padding-left: 2.4rem;
  }
  .header__link__button {
    color: white;
    padding-right: .4rem;
    &:hover {
      color: $oc-gray-4;
    }
  }

  .header__signbutton__wrapper {
    display: inline-block;
    padding-left: .3rem;
  }
  .header__signup__container {
    display: inline-block;
  }
  .header__mobile {
    display: none;
  }
}

@media only screen and (max-width: 1011px) {
  .header {
    width: 100%;
    height: 4.2rem;
    .header__logo__wrapper {
      float: left;
      top: -.2rem;
      left: 2.2rem;
    }
    
    .header__link__button {
      display: block;
      color: $oc-gray-7;
      padding: 1rem 0;
      border-bottom: 1px solid $oc-gray-3;
      &:hover {
        color: $oc-gray-7;
      }
    }
    .header__menu {
      display: none;
      width: px(300);
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      background: white;
      overflow: auto;

      .header__downbutton {
        cursor: pointer;
      }
      .header__menu__container {
        padding: 0 1rem;
      }
      .header__downbutton__wrapper {
        display: block;
        padding-left: 0;
      }
      .header__close__button {
        padding: .4rem;
        cursor: pointer;
      }
    }

    .header__search__wrapper {
      display: block;
      padding: 2.4rem 0;
    }

    .header__signup__container {
      display: block;
      width: 10rem;
      margin: 0 auto;
    }

    .header__menu__closer {
      display: block;
      text-align: right;
      font-size: 2.4rem;
      border-bottom: 1px solid $oc-gray-3;
      padding: .3rem .8rem;
      color: $oc-gray-8;
      background: $oc-gray-1;
    }

    .header__mobile {
      display: inline-block;
      float: right;
      line-height: 1.2rem;
      .header__hambug {
        display: inline-block;
        color: white;
        margin: 0 1rem;
        padding: .5rem;
        cursor: pointer;
      }
      .header__signbutton--outline {
        color: white;
      }
    }
  }
}