@import 'utils';

@mixin common() {
  width: 100%;
  font-size: 1rem;
  padding: 1rem 2.4rem 1rem .7rem;
  border-radius: 5px;
  border: 1px solid $oc-gray-4;
  &:focus {
    border: 1px solid $oc-blue-4;
  }
}
.signupform__input__label {
  font-size: .9rem;
  color: $oc-gray-7;
  padding-top: .5rem;
}

.signupform__input {
  font-size: 1.3rem;
  width: 100%;
}

.signupform__input__input {
  @include common();
  margin: .5rem 0;
  background-image:url(https://github.githubassets.com/images/modules/ajax/success.png);
  background-repeat: no-repeat;
  background-position: calc(100% - .6rem);
  background-size: 1rem;
  &::placeholder {
    color: $oc-gray-6;
  }
}