.intro {
  display: block;
  background: #2b3137 url(../../static/images/intro.svg);
  background-size: 85rem;
  background-position: center;
  padding: 4rem 0;

  .intro__container {
    max-width: 62rem;
    margin: 0 auto;
  }

  .intro__phrase__wrapper {
    display: inline-block;
    width: 50%;
    max-width: 33.4rem;
    vertical-align: top;
    padding-top: 6rem;
  }
  .top__signup__wrapper {
    display: inline-block;
    width: 46%;
    max-width: 24rem;
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 1011px) {
  .intro {
    .intro__phrase__wrapper {
      padding: 0 2rem;
    }
    .top__signup__wrapper {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    .intro__phrase__wrapper {
      min-width: 100%;
      font-size: 3.4rem;
      text-align: center;
    }
    .intro__phrase__contents {
      padding: 0 .2rem;
    }
    .top__signup__wrapper {  
      position: relative;
      width: 68%;
      max-width: 100%;
      transform: translateX(-50%);
      top: 2rem;
      left: 50%;
    }
  }
}