@import 'utils';

@mixin dotted() {
  $dottedSize: .6rem;
  $dottedPosition: 0px;
  background:
        -moz-radial-gradient($oc-gray-3 5%, transparent 28%),
        -moz-radial-gradient($oc-gray-3 5%, transparent 28%),
        transparent;
  background:
      -webkit-radial-gradient($oc-gray-3 5%, transparent 28%),
      -webkit-radial-gradient($oc-gray-3 5%, transparent 28%),
      transparent;
  background-position: $dottedPosition $dottedPosition, $dottedPosition $dottedPosition;
  
  -webkit-background-size:$dottedSize $dottedSize;
  -moz-background-size:$dottedSize $dottedSize;
  background-size:$dottedSize $dottedSize;
}

@mixin imageCommon() {
  display: block;
  font-size: 2.5rem;
  color: $oc-gray-8;
}
@mixin effectCommon() {
  @include dotted();
  display: inline-block;
  position: absolute;
  width: 12rem;
  height: 12rem;
}

.effectbox:hover {
  box-shadow: 0px 4px 7px 1px RGBA(200,200,200,.3)
}

.effectbox:hover > .effectbox__effect__left {
  transform: translate(-1.3rem, -1.3rem);
  transition: 0.4s;
}

.effectbox:hover > .effectbox__effect__right {
  transform: translate(1.3rem, 1.3rem);
  transition: 0.4s;
}

.effectbox {
  display: inline-block;
  position: relative;
  width: 36rem;
  height: 15rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: white;
  border: 1px solid $oc-gray-3;
  border-radius: 3px;
  margin: 2rem;
}

.effectbox__container {
  margin: 1px 0;
  position: absolute;
  background:white;
  padding: 1.6rem 0;
  z-index: 1;
}

.effectbox__image {
  width: 20%;
  float: left;
  text-align: center;
}

.effectbox__text {
  float: right;
  width: 80%;
}

.effectbox__contents {
  font-size: .9rem;
  line-height: 1.6rem;
  padding: .4rem 7% 1rem 0;
  color: $oc-gray-7;
}

.effectbox__image__server {
  @include imageCommon();
}

.effectbox__image__cloud {
  @include imageCommon();
  position: relative;
  top: -.6rem;
}

.effectbox__subject {
  font-size: 1rem;
  font-weight: 600;
}

.effectbox__link {
  display: block;
  color: RGBA(17, 108, 232, 1);
  font-size: 1rem;
  cursor: pointer;
  &:hover > .effectbox__effectbox__link__arrow {
    display: inline-block;
    transform: translateX(6px);
    transition: 0.1s;
  }
}

.effectbox__link + .effectbox__link {
  padding-top: .4rem;
}

.effectbox__effect__left {
  @include effectCommon();
  top: 0;
  left: 0;
}

.effectbox__effect__right {
  @include effectCommon();
  bottom: 0;
  right: 0;
}
