<div class="effectbox">
    <div class="effectbox__effect__left"></div>
    <div class="effectbox__container">
        <div class="effectbox__image">
            <i class="effectbox__image__server fas fa-server"></i>
            <i class="effectbox__image__cloud fab fa-mixcloud"></i>
        </div>
        <div class="effectbox__text">
            <h4 class="effectbox__subject">Hosted where you need it</h4>
            <p class="effectbox__contents">Securely and reliably host your work on GitHub using GitHub Enterprise
                Cloud. Or
                deploy GitHub Enterprise Server in your own data centers or in a private cloud using Amazon Web
                Services,
                Azure, or Google Cloud Platform.</p>
            <a class="effectbox__link">Compare features <span class="effectbox__effectbox__link__arrow">→</span></a>
            <a class="effectbox__link">Contact Sales <span class="effectbox__effectbox__link__arrow">→</span></a>
        </div>
    </div>
    <div class="effectbox__effect__right"></div>
</div>