@import 'utils';

.business__orgs {
  text-align: center;
  
  .business__orgs__keyword {
    font-size: 1.5rem;
    font-weight: 400;
    color: $oc-gray-7;
  }

  .business__orgs__brands {
    display: inline-block;
    font-size: 3rem;
    color: $oc-gray-7;
    padding: 1.2rem 3rem;
  }
}