@import 'utils';

@mixin common() {
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

@mixin arrowAnim() {

}
.button__arrow {
  display: inline-block;
}

.button--green {
  background-color: #28c745;
  &:hover {
    background-color: #28a745;
  }
  @include common();
}

.button--blue {
  @include common();
  background-color: RGBA(17, 108, 232, 1.00);
  &:hover {
    background-color: $oc-blue-8;
  }
}
.button--blue-outline {
  @include common();
  color: $oc-blue-7;
  border: 1px solid rgba(18,119,235,.5);
  &:hover {
    border: 1px solid $oc-blue-8;
    color: $oc-blue-8;
  }
  &:hover .button__arrow {
    transform: translate(.3rem, 0);
    transition: 0.3s
  }
}

.button__text--white {
  color: white;
}

.button__contents {
  display: block;
  padding: 1.3rem 1.8rem;
  text-align: center;
  font-size: .9rem;
}