@mixin common() {
  border-radius: 3px;
  cursor: pointer;
}

.button--green {
  background-color: #28c745;
  &:hover {
    background-color: #28a745;
  }
  @include common();
}

.button__text--white {
  color: white;
}

.button__content {
  padding: 1.3rem;
  text-align: center;
}