ol {
  margin: 100px auto 0 auto;
  list-style: none;
  padding: 0;
  font-size: 30px;
}

.container {
  display: grid;
  width: 700px;
  height: 400px;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(2, max-content);
  border: 1px solid grey;
}

.item {
  text-align: center;
  line-height: 100px;
}
