.badges {
  display: inline-block;
}

.badges__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  .badges__image {
    display: inline-block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.badges__item + .badges__item {
  margin-left: 1.9rem;
}

.badges__item:nth-child(even) {
  margin-top: 3.5rem;
}