@import 'utils';
@mixin common() {
  display: none;
  position: absolute;
  height: px(180);
  width: px(180);
  top: 0;
  left: 53%;
  transform: translateX(-100%);
  background-repeat: no-repeat;
}

.advantages {
  display: inline-block;
  position: relative;
  width: 100%;
}
.advantages__mainimage {
  display: inline-block;
  position: relative;
  height: 34rem;
  width: 55%;
  top: 2rem;
  vertical-align: top;
  background: url(../../static/images/home-illo-team.svg) no-repeat;
}

.advantages__cards__container {
  display: inline-block;
  width: 41%;
}

.advantages__image__code {
  @include common();
  background-image: url(../../static/images/home-illo-team-code.svg);
}

.advantages__image__chaos {
  @include common();
  background-image: url(../../static/images/home-illo-team-chaos.svg);
}

.advantages__image__tools {
  @include common();
  background-image: url(../../static/images/home-illo-team-tools.svg);
}

.arrow__card__wrapper:hover + .advantages__image__code,
.arrow__card__wrapper:hover + .advantages__image__chaos,
.arrow__card__wrapper:hover + .advantages__image__tools 
{
  display: block;
}

@media only screen and (max-width: 1011px) {
  .advantages {
    .advantages__mainimage {
      width: 60%;
      height: 30rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .advantages__cards__container {
      width: 100%;
      padding-top: 3rem;
      .arrow__card__arrow {
        left: 93%;
      }
      .advantages__image__code,
      .advantages__image__chaos,
      .advantages__image__tools {
        left: calc(100% - 2rem);
        top: 2rem;
      }
    }
  }
}