@import 'utils';

.header__downbutton {
  position: relative;
  padding: 1rem 0;
  color: $oc-gray-2;
  font-size: 1rem;
  @include selectNone();
  outline: none;
  &:hover {
    color: $oc-gray-4;
  }
  &:hover .header__downmenu__wrapper, {
    visibility: visible;
  }

  &:hover .header__button__arrow {
    color: $oc-gray-2;
  }
  .header__button__arrow {
    color: $oc-gray-6;
  }

  .header__downmenu__wrapper {
    visibility: hidden;
    position: absolute;
    top: 3.2rem;
    left: -1.4rem;
    &:hover {
      visibility: visible;
    }
  }
  .header__buttonname {
    font-size: 1rem;
    font-weight: 400;
    outline: none;
  }
  
}
