.enterprise__propose__subject {
  font-size: 2.4rem;
  font-weight: 500;
}

.enterprise__propose__contents {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding:.9rem 0;
}

.enterprise__propose {
  text-align: center;
  display: block;
  padding: 0 5rem;
}

.enterprise__propose .button__wrapper {
  display: inline-block;
}