.team__signup {
  text-align: center;

  .team__signup__summay {
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: .6rem 0;
  }

  .team__signup__keyword {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
  }

  .team__signup__contents {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .button__wrapper {
    padding: 2rem 0;
    display: inline-block;
  }
}
