@import 'utils';

@mixin common() {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}

@mixin scaleUp() {
  transform: scale(1.06);
  transition: .4s;
}
.worldwide__lamewords {
  max-width: 43rem;
  text-align: center;
  color: $oc-gray-7;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 3rem auto;
}
.worldwide__cards__container {
  position: relative;
  width: 50%;
  left: 50%;
  cursor: pointer;
  .worldwide__circle__repositories {
    @include common();
    left: -31rem;
    top: 1rem;
    width: 14rem;
    height: 14rem;
    background: #FB8532;
  }
  .worldwide__circle__developers {
    @include common();
    left: -15.2rem;
    top: 4.2rem;
    width: 11rem;
    height: 11rem;
    background: #0366D6;
  }

  .worldwide__circle__businesses {
    @include common();
    left: -21rem;
    top: 16rem;
    width: 9rem;
    height: 9rem;
    padding: 1rem;
    background: #6F42C1;
  }

  .worldwide__years {
    font-size: .8rem;
    color: $oc-gray-7;
    padding-top: 2.4rem;
  }
}
.worldwide__circle__container {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: .8rem;
  color: white;

  .worldwide__circle__m {
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: .6rem;
  }
}

.arrow__card__wrapper:hover + .worldwide__circle__repositories,
.arrow__card__wrapper:hover + .worldwide__circle__developers,
.arrow__card__wrapper:hover + .worldwide__circle__businesses,
.worldwide__circle__repositories:hover,
.worldwide__circle__developers:hover,
.worldwide__circle__businesses:hover {
  @include scaleUp();
}

@media only screen and (max-width: 1011px) {
  .worldwide__cards__container {
    .worldwide__circle__repositories {
      left: -29rem;
    }
    .worldwide__circle__developers {
      left: -16.2rem;
      top: 6.2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .worldwide__cards__container {
    width: 100%;
    left: 0;
    padding: 0 2.6rem;
  }
}