@import 'utils';

$inputPadding: .5rem;
$inputRadius: 5px;
$inputWidth: 15rem;
.header__search {
  position: relative;
  width: $inputWidth;
  background: #404448;
  border-radius: $inputRadius;
}

.header__search__input {
  height: 2.25rem;
  width: $inputWidth;
  position: relative;
  background: transparent;
  color: white;
  font-size: .9rem;
  padding: $inputPadding*2 $inputPadding;
  border: initial;
  border-radius: $inputRadius;
}

.header__search__input:focus {
  background: white;
  color: black;
}

.header__search_keyslash {
  width: 1.25rem;
  height: 100%;
  margin: auto $inputPadding;
  position: absolute;
  right: 0;
}