body {
  // width: calc(100% - 1rem);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

h1, h2, h3, h4, h5, div, p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}